html{
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}
.headerr{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Syncopate', sans-serif;
}
.button {
    border-radius: 8px;
    padding: 15px 30px;
    color: #000;
    display: inline-block;
    background: #ffce54;
    text-decoration: none;
}

.adminRole{
    font-size: 20px;
}

.updateForm{
    margin: 15px;
}
:root {
    --bg-table-stripe: #f6f6f5;
    --b-table: #e3e3e2;
    --caption: #242423;
}

table {
    background-color: transparent;
    border-collapse:collapse;
  	font-family: Arial, Helvetica, sans-serif
}

th {
    text-align:left
}

.dcf-txt-center {
      text-align: center!important
    }

    .dcf-txt-left {
      text-align: left!important
    }

    .dcf-txt-right {
      text-align: right!important
    }
    
.dcf-table caption {
      color: var(--caption);
      font-size: 1.13em;
      font-weight: 700;
      padding-bottom: .56rem
    }

    .dcf-table thead {
      font-size: .84em
    }

    .dcf-table tbody {
      border-bottom: 1px solid var(--b-table);
      border-top: 1px solid var(--b-table);
      font-size: .84em
    }

    .dcf-table tfoot {
      font-size: .84em
    }

    .dcf-table td, .dcf-table th {
      padding-right: 1.78em
    }

    .dcf-table-bordered, .dcf-table-bordered td, .dcf-table-bordered th {
      border: 1px solid var(--b-table)
    }

    .dcf-table-bordered td, .dcf-table-bordered th, .dcf-table-striped td, .dcf-table-striped th {
      padding-left: 1em;
      padding-right: 1em
    }

    .dcf-table-bordered tr:not(:last-child), .dcf-table-striped tr:not(:last-child) {
      border-bottom: 1px solid var(--b-table)
    }

    .dcf-table-striped tbody tr:nth-of-type(2n) {
      background-color: var(--bg-table-stripe)
    }

    .dcf-table thead td, .dcf-table thead th {
      padding-bottom: .75em;
      vertical-align: bottom
    }

    .dcf-table tbody td, .dcf-table tbody th, .dcf-table tfoot td, .dcf-table tfoot th {
      padding-top: .75em;
      vertical-align: top
    }

    .dcf-table tbody td, .dcf-table tbody th {
      padding-bottom: .75em
    }

    .dcf-table-bordered thead th {
      padding-top: 1.33em
    }

    .dcf-wrapper-table-scroll {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      left: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      padding-bottom: 1em;
      position: relative;
      right: 50%;
      width: 100vw
    }

    @media only screen and (max-width:42.09em) {
      .dcf-table-responsive thead {
        clip: rect(0 0 0 0);
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        width: 1px;
        white-space: nowrap
      }
      .dcf-table-responsive tr {
        display: block
      }
      .dcf-table-responsive td {
        -webkit-column-gap: 3.16vw;
        -moz-column-gap: 3.16vw;
        column-gap: 3.16vw;
        display: grid;
        grid-template-columns: 1fr 2fr;
        text-align: left!important
      }
      .dcf-table-responsive.dcf-table-bordered, .dcf-table-responsive.dcf-table-bordered thead th {
        border-width: 0
      }
      .dcf-table-responsive.dcf-table-bordered tbody td {
        border-top-width: 0
      }
      .dcf-table-responsive:not(.dcf-table-bordered) tbody tr {
        padding-bottom: .75em
      }
      .dcf-table-responsive:not(.dcf-table-bordered) tbody td {
        padding-bottom: 0
      }
      .dcf-table-responsive:not(.dcf-table-bordered):not(.dcf-table-striped) tbody td {
        padding-right: 0
      }
      .dcf-table-responsive.dcf-table-bordered tbody tr:last-child td:last-child {
        border-bottom-width: 0
      }
      .dcf-table-responsive tbody td:before {
        content: attr(data-label);
        float: left;
        font-weight: 700;
        padding-right: 1.78em
      }
    }

.dcf-overflow-x-auto {
      overflow-x: auto!important;
      -webkit-overflow-scrolling: touch
    }
.adminimg{
    height: 140px;
    width: 190px;
  }

.cartimg{
    height: 120px;
    width: 130px;
}

.footer {
    text-align: center;
    list-style: none;
    font-size: 18px;
    color: #ffce54;
}

#footermenu i {
    text-align: center;
    list-style: none;
    color: #ffce54;
}

.menu-text hide-for-small-only .search {
    border-radius: 10px;
}

input[type=search] {
    padding: 4px 12px;
    border-radius: 8px;
}

.fi-pencil {
    margin: 3px;
}

.fi-torsos-all {
    margin: 3px;
}

.fi-power {
    margin: 3px;
}

.fi-puzzle {
    margin:3px;
}

.fi-home {
    margin:3px;
}
.content {
    height: 100%;
    width: 100%; 
}
.content1 {
    position: relative;
    text-align: center;
    margin: 0 auto;
    top: 40%;
}

p{
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Manjari', sans-serif;
}

h2{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Syncopate', sans-serif;
}

.errortext{
    color: red;
}

.ertext{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Syncopate', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.frontpage{
    background-image: url(../../includes/images/backgrounds/darkgrey.jpg);
    background-size: cover;
}

h5 {
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Manjari', sans-serif;
    font-size: 20px;
    color: #f8c033;
}

.register-btn{
    margin-top: 20px;
}

.content1 h1 {
    font-size: 48px;
    color: #ffce54;
    margin: -10px;
    font-weight: 100;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Audiowide', cursive;
}

.content1 h2 {
    font-size: 48px;
    color: #ffcf549f;
    opacity: 0.9;
    margin: 10px;
    font-weight: 100;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Audiowide', cursive;
}

.login-box {
  background: #fff;
  border: 1px solid #ddd; 
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}

@media (max-width:656px) {
    
    .button {
        margin-left: 4px;
        display: inline-block;
        color: #000;
        background: #ffce54;
        text-decoration: none;
    }

    input[type=search] {
        padding: 4px 12px;
        border-radius: 8px;
        display: inline-block;
    }
}

@media (max-width:416px) {
    
    .button {
        margin-left: 4px;
        display: inline-block;
        color: #000;
        background: #ffce54;
        text-decoration: none;
    }

    input[type=search] {
        
        border-radius: 8px;
        display: inline-block;
    }
}